.main {
  display: flex;
  flex-direction: column;
}
.tweets-search-container {
  height: 70px;
  margin: 20px;
  background-color: red;
}

.tweets-list {
  height: 500px;
  margin: 20px;
  background-color: blueviolet;
}

.tweet-container {
  display: flex;
  flex-direction: column;
  height: 100px;
  background-color: white;
  margin: 10px;
}
